
.logoImage{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}

#userTab{
    justify-self: center;
    align-self: center;
    
    
}

#buscar-button {
    margin-top: 2rem;
}

.search-container {
    background-color: var(--color-background-realce);
    width: 20vw;
    margin-top: -2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.tabela table{
    text-align: center;
    align-items: center;

    background-color: var(--color-background);
    
    border-color: black;
    border-style: solid;
    
    border-width: 1px;
    
    
}

.tabela table td{
    text-align: center;
    align-items: center;
    background-color: var(--color-table);
    
    color: white;
    border-color: black;
    border-style: solid;
    
    border-width: 1px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;

    font-weight:500;
    
    font-size: 1.6rem;
    color: var(--color-text-base);
}

/* .tabela img {
    width:1.5vw;
    height: 1.5vw;
    padding-top: 0.5vh;
} */


.corpo {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    /* border: rgb(42, 187, 28);
    border-width: 1px;
    border-style: solid; */
    height: 60vh;
}

.formulario {
    
    
    
    padding: 3px;
    align-self: center;
    align-content: center;
    justify-self: center;
}

#inserirNovo{
    padding: 50px;
    border: black;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    height: 60vh;
    width: 18vw;
    
}

#procurar {
    padding: 50px;
    
    width: 50vw;
    height: 60vh;
}

input, select {
    width: 10vw;
    text-align: center;
    
}

@media screen and (min-height: 908px) and (orientation: portrait){
    #inserirNovo{
        width: 80vw;
        height: 650px;
        font-size: 45px;
        
    }

    #newUserData tr{
        width: 70vw;
    }

    #newUserData tbody tr td input{
        width: 30vw;
        height: 50px;
        margin-left: 10px;
    }

    #newUserData tbody tr td select{
        width: 30vw;
        height: 50px;
        margin-left: 10px;
    }

    #cadastrar-button{
        font-size: 50px;
        width: auto;
        height: auto;
        padding: 10px;
        margin-top: 10px;
    }

    .corpo{
        font-size: 50px;
        display: block;
        align-content: center;
        
    }

    #procurar{
        align-content: center;
        width: 80vw;
        
        align-self: center;
        height: auto;
    }

    .search-container {
        width: 50rem;
        padding-bottom: 50px;
    }

    .formulario .search-container select{
        height: 70px;
        width: auto;
        font-size: 50px;
    }

    .formulario .search-container input{
        height: 70px;
        width: 30vw;
        font-size: 50px;
    }

    .tabela table{
        width: 90vw;
        margin-left: -10rem;
        align-self: center;
        align-content: center;
        padding: 0;
        justify-content: center;
        justify-self: center;
    }
/* 
    .tabela table thead tr{
        word-break: normal;
        
    } */

    .tabela table tr{
        word-break: break-all;
        width: 95vw;
    }

    .tabela table tr td{
        font-size: 25px;
    }

    #nome{
        word-break:normal;
        
        max-width: 200px;
    }
}